body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #f06c64;
}

.wrapper {

    width: 1020px;

    margin: 0 auto;
}

.quote {
    height: 648px;

    border-bottom: solid 6px #ea676b;
}

.block-content {
    width: 940px;
    margin: 0 auto;
}

.quote__title {
    font-size: 30px;
    line-height: 14px;
    color: #f0d8d9;
    padding-top: 42px;
}
.quoteText
{
    width: 940px;
    height: 57px;
    font-size: 17px;
    line-height: 28px;
    color: #f0d8d9;
    font-weight: 300;
}
.form-wrapper{
    display: flex;
    margin-top: 45px;
    padding-left: 40px;
    
}
.form-item{
    display: block;
    width: 605px;
    height: 36px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    padding-left: 15px;

}
input::-webkit-input-placeholder { 
    color: #f48c8f;
 }
 .form-item__textarea {
     background-color:#d6564f;
     border-radius: 5px;
     border: none;
    height: 192px;
    width: 605px;
    font-size: 12px;
    padding-top: 8px;
    resize: none;
}
textarea::-webkit-input-placeholder {
    color: #f48c8f;
}
.form-button{
    border:none;
    width: 622px;
    height: 40px;
    background-color: #d6564f;
    color:#ed979a;
    border-radius: 5px;
}
.form-button:hover{
    background-color: #a53d37;
    color: #ed7470;
    cursor: pointer;
}
.contactInfo{
    font-family: 'Lato Bold', sans-serif;;
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    margin-left: 18px;
}
.contact-info__text{
    width: 300px;
    height: 80px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
    padding-top: 10px;
    text-align: justify;
}
.content {
   margin-left: 18px;
   margin-top:-19px
}
  .logotype_content h3{
    font-size: 18px;
    color: #f0d8d9;
    margin-bottom: 0;
  }
  .information p{
    font-size: 13px;
    line-height: 22px;
    margin: 8px 0 0 0px;
    color: #f0d8d9;
  }
  ul{
    list-style-type: none;
    margin-top:0px;
  }
  .Contact{
    list-style-type: none;
  }
  .text-contect{
      padding-left: -5px;
      margin-left: -30px;
      padding-top: 5px;
    line-height: 18px;
    color:#f0d8d9;
    font-size: 12px;
    margin-left: -5px;
  }
  .contact_info{
    padding: 22px 0 0 0;
  }
  .location a{
    margin: 0px 0 0 11px;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    color: #f0d8d9;
    text-decoration: none;
  }
  .location{
    padding-bottom: 3px;
  }

  .mail a{
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #f0d8d9;
    margin: 0px 0 0 7px;
  }
  .num_telephone{
    padding: 0px 0 4px 0px;
  }
  .num_telephone a{
    text-decoration: none;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #f0d8d9;
    margin: 0px 0 0 7px;
  }
  .mail:hover,.location:hover,.num_telephone:hover{
     cursor:pointer;
     transform: scale(1.02);
  }

  .list{
      background-color: blanchedalmond;
      
  }

  .footer {
    height: 76px;
    background-color: #2d303a;
    margin-top: -30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}
.footer__copyright {
    font-size: 12px;
    color: #666d89;
    font-weight: 400;
    padding-left: 260px;
}
.item-social:hover {
    cursor: pointer;
}

.social {
    display: flex;
    margin-right: 250px;
    padding-top: 18px;
    /*margin-top: 30px;*/
}

.person__social {
    margin-top: 26px;
}

.item-social {
    width: 30px;
    height: 30px;
    border-radius: 16px;
    border: 1px solid #666d89;
    display: flex;
}

.item-social:hover {
    cursor: pointer;
}
.social__item {
    margin-right: 8px;
}
.icon-facebook {
    background: url(assets/facebook1.png) no-repeat center;
}
.icon-linkedin:hover,.icon-twitter:hover,.icon-google:hover,.icon-facebook:hover {
    transform: scale(1.1);
}
.icon-google {
    background: url(assets/google1.png) no-repeat center;
}
.icon-twitter {
    background: url(assets/twitter1.png) no-repeat center;
}
.icon-linkedin {
    background: url(assets/linkedin1.png) no-repeat center;
}
