@font-face {
  font-family: "Lato Regular";
  src: url("assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Light";
  src: url("assets/fonts/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Bold";
  src: url("assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Black";
  src: url("assets/fonts/Lato/Lato-Black.ttf") format("truetype");
}
@font-face{
  font-family: "Lato Italic";
  src: url("assets/fonts/Lato/Lato-Italic.ttf") format("truetype");
}
@font-face{
  font-family: "Lato BlackItalic";
  src: url("assets/fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
}
@font-face{
  font-family: "Lato BoldItalic";
  src: url("assets/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
}
@font-face{
  font-family: "Lato LightItalic";
  src: url("assets/fonts/Lato/Lato-LightItalic.ttf") format("truetype");
}
@font-face{
  font-family: "Lato Thin";
  src: url("assets/fonts/Lato/Lato-Thin.ttf") format("truetype");
}
@font-face{
  font-family: "Lato ThinItalic";
  src: url("assets/fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
}
html {
  font-size: 10px;
}

body {
  font-family: 'Lato Regular', Verdana, sans-serif;
  margin: 0;
  font-size: 1.6rem;
  padding: 0;
}
.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323645;
  height: 95px;
  box-sizing: border-box;
}
.foundation {
  margin: 0 auto;
  max-width: 940px;
}
.head-block {
  align-items: center;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

.logoText {
  font-weight: 700;
  color: #ffffff;
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
}

.logoTextColor {
  color: #f06c64;
}

.headerNavigation {
  padding-top: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 371px;
}

.navigationI {
  letter-spacing: -0.02rem;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.navigationI:not(:first-child)::before {
  content: "\2219";
  display: inline-block;
  width: 1.5em;
  line-height: 1px;
  color: #494e62;
}

.navigationL {
  text-decoration: none;
  color: #ffffff;
}

.navigationL:hover {
  color: #f06c64;
}

.navigationLSelected {
  color: #f06c64;
}
.navigation_dot {
  color: #494e62;
  cursor: default;
  font-size: 12px;
  font-weight: 700;
  } 
.phone {
  background-color: #ef6c64;
  box-sizing: border-box;
  height: 600px;
  border-bottom: 6px solid #ea666b;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
}
.sliderArrow {
  height: 100%;
  cursor: pointer;
}
.sliderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sliderPhone {
  height: 240px;
  margin-left: 74px;
}
.services {
  box-sizing: border-box;
  height: 500px;
  background-color: #f1f1f1;
  border-bottom: 6px solid #ffffff;
}
.servicesArticle {
  margin: 0;
  padding-top: 59px;
  font-size: 3rem;
  letter-spacing: -0.02rem;
  font-weight: 900;
  color: #666d89;
}
.servicesData {
  margin-bottom: 43px;
  font-size: 1.8rem;
  letter-spacing: -0.008rem;
  line-height: 30px;
  color: #767e9e;
}
.serviceData {
  margin: 8px 0 0;
  height: 66px;
  font-size: 1.2rem;
  letter-spacing: 0.0562rem;
  line-height: 22px;
  overflow: hidden;
  color: #767e9e;
}
.flex-service {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service {
  display: flex;
  justify-content: space-between;
  width: 299px;
  margin-bottom: 27px;
}
.serviceLogo {
  width: 59px;
  height: 59px;
  padding-top: 4px;
}
.serviceInfo {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 900;
  color: #666d89;
}

